{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

<body>
  <!-- <header> -->
    <!-- <div class="background">
      <img class="background-picture" src="assets/picture1.jpg" alt="">
    </div> -->
   
        <main>
          <section class="grid">
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
          </section>
        
      </main>
</body>



{% endblock %}
