{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

<body>
  <!-- <header> -->
    <!-- <div class="background">
      <img class="background-picture" src="assets/picture1.jpg" alt="">
    </div> -->
    <nav class="navbar">
      <!-- <div class="navbar">
        <div class="topnav"> -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="fas fa-dragon"></i>
              <span class="link-text">Dragons</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="fas fa-hat-wizard"></i>
              <span class="link-text">Wizards</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="fas fa-dice-d20"></i>
              <span class="link-text">Magic</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
              <i class="fas fa-hiking"></i>
              <span class="link-text">Journey</span>
              </a>
            </li>
          </ul>
        </nav>
        <main>
          <section class="grid">
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
          </section>
        
      </main>
</body>



{% endblock %}
