{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

<body>
  <header>
    <div class="background">
      <button class="btn btn-outline-warning" type="button" onclick="smoothScroll(document.getElementById('second'))">Click Me!</button>
      <img class="background-picture" src="assets/picture1.jpg" alt="">
    </div>
    <div class="navbar">
      <div class="topnav">
        <ul>
          <li><a class="about-link" href="#">About</a></li>
          <li><a class="products-link" href="#">Products</a></li>
          <li><a class="signup-link" href="#">Signup</a></li>
          <li><a id="login-link" href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="h1-text">
      <h1>All ideas grow out of other <i>ideas</i></h1>
    </div>
  </div>
  <div class="second" id="second">
    <img class="img-fluid" src="assets/picture2.jpg" alt="">
  </div>
</body>



{% endblock %}
